# 한국투자증권 Open API
KIS_APP_KEY=
KIS_APP_SECRET=
KIS_ACCOUNT_NO=
KIS_ACCOUNT_PRODUCT_CODE=01

# 실전/모의 투자 (prod | virtual)
KIS_ENV=virtual

# DART OpenAPI (https://opendart.fss.or.kr)
DART_API_KEY=

# 자동 주문 (true | false)
AUTO_TRADE=false
